.topPanel{
    position: sticky;
    top: 1px;
    background: linear-gradient(to bottom,black, red);
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start: 1;
    grid-column-end: 9;
    border: 2px white solid;
}